<!DOCTYPE html>
<html>
  <head>
    <title>Popularity Mashup</title>

    <link href='http://fonts.googleapis.com/css?family=Cabin+Sketch:700' rel='stylesheet'>
    <style>
      div.chart {
        clear: both;
      }

      #charts {
        margin: 20px 0px;
      }

      #bands {
        width: 300px;
      }

      header {
        font-family: 'Cabin Sketch', cursive;
        font-style: normal;
        font-weight: 700;
        font-size: 64px;
        text-transform: none;
        text-decoration: none;
        letter-spacing: 0em;
        word-spacing: 0em;
        line-height: 1.4;
      }
    </style>

    <script src="http://www.google.com/jsapi"></script>
    <script type="text/javascript">
      google.load("jquery", "1.7.1");
    </script>
    <script src="application.js"></script>
  </head>
  <body>
    <header>Popularity Mashup</header>
    <h1>Compare band popularity on online services</h1>
    <p>
      Enter a comma separated list of bands to compare.
      You can compare up to three bands at a time.
    </p>
    <form>
      <input id="bands" name="bands" placeholder="e.g. blink-182, Green Day, Sum 41" type="text" autofocus required>
      <input type="submit" id="compare" value="Compare">
    </form>
    <div id="charts"></div>
  </body>
</html>
